.table {
    $-root: &;
    $-is-sticked: '.is-sticked';
    $-color-border: darken(white, 20);

    margin-bottom: $GAP;
    width: 100%;
    border: 1px solid $-color-border;
    background-color: white;
    border-collapse: collapse;

    th,
    td {
        padding: $GAP / 2;
        border: 1px solid $-color-border;
    }

    th {
        font-weight: 700;
    }

    &#{$-is-sticked} {
        thead {
            border: none;
            margin-top: -1px;
        }

        tr th {
            position: sticky;
            top: -1px;
            border-bottom: none;
            background-color: darken(white, 8);
            box-shadow: 0 1px 6px -2px rgba(black, 0.12);

            &::after {
                position: absolute;
                right: 0;
                bottom: -1px;
                left: 0;
                height: 1px;
                content: '';
                background-color: $-color-border;
            }
        }
    }
}
