<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('./partials/head.html').default %>
    <title>Semantic HTML</title>
</head>

<body>
    <%= require('./partials/nav.html').default %>
    <main id="main">
        <header id="header" role="banner">
            <img src="data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.75296 0.257446H1.05589C0.50554 0.257446 0.0612793 0.701707 0.0612793 1.25206V7.95244C0.0612793 8.50286 0.50554 8.94706 1.05589 8.94706H7.75627C8.30663 8.94706 8.75089 8.50286 8.75089 7.95244V1.25206C8.74757 0.705022 8.30331 0.257446 7.75296 0.257446Z' fill='black'/%3E%3C/svg%3E%0A"
                alt="Logo" id="logo">
        </header>
        <nav class="nav" id="nav" aria-label="Navigation">
            <a href="javascript:void(0);" class="nav__item">Item menu</a>
            <a href="javascript:void(0);" class="nav__item">Other item menu</a>
        </nav>
        <section id="holder">
            <div class="promo">
                <picture class="picture">
                    <source srcset="https://placeimg.com/640/480/any">
                    <img class="picture__src" src="https://placeimg.com/640/480/any" alt="Photo" />
                </picture>
            </div>
            <article class="article">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At nam sit, esse illo reprehenderit, fugiat aut impedit nemo accusantium quos possimus molestiae quidem suscipit nihil, deleniti amet ipsum repudiandae? Culpa.
                Est tempore veniam cumque, tempora ipsam quaerat ducimus non sequi et accusantium porro eveniet fugiat nemo enim itaque ut magnam fuga corrupti sed? Voluptates quis ipsum ex, aliquam et tempore?
                Pariatur officiis cumque provident ab. Ex, possimus fugiat. Eum veritatis, natus labore nemo voluptatibus necessitatibus consectetur corporis dolorem ipsam asperiores dolore eos aut adipisci! Labore sequi nulla iure dignissimos. Expedita.
                Nulla atque cupiditate illum deserunt eaque, ipsam, amet molestias doloremque ratione quas pariatur aut cum sint totam eum, optio ipsa. Repellat, rerum. Id rem deserunt odit dolorem repellendus dolore ad!
                Ipsa optio amet dignissimos, ex voluptatem qui! Facilis dolorem neque nemo quaerat recusandae natus totam voluptatem ea ducimus enim corrupti optio a quo illo alias ut, maxime explicabo necessitatibus iure?
                Eos dolor magnam, commodi alias sequi aperiam sed dolorem nihil! Enim, delectus molestiae quam nostrum cupiditate impedit doloremque, quis a consequuntur minima tenetur id quibusdam, dolores natus. Consectetur, dolorem praesentium?
                Veniam error molestias quam corporis distinctio labore optio, officiis suscipit explicabo dignissimos fugiat numquam nihil neque quaerat illo repudiandae blanditiis sint, dolore, laudantium at dolores inventore voluptate magni! Nam, quo.
            </article>
        </section>
    </main>
    <footer id="footer">&copy;</footer>
</body>

</html>