<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('./partials/head.html').default %>
    <title>Validate</title>
</head>
<body>
    <%= require('./partials/nav.html').default %>
    <main id="main" class="page">
        <div class="page__body">
            <form action="/" class="form" id="form">
                <div class="field">
                    <label for="">Field</label>
                    <input type="text">
                </div>
            </form>
        </div>
    </main>
</body>
</html>