@mixin button-reset {
    padding: 0;
    border: 0;
    background-color: transparent;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    user-select: none;

    &:focus {
        outline: none;
    }
}

@mixin clearfix {
    &::before,
    &::after {
        display: table;
        content: '';
    }

    &::after {
        clear: both;
    }
}

@mixin scrollbar {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0;
    }
}

@mixin line-clamp($font-size, $line-height, $lines-to-show) {
    display: block; // Fallback for non-webkit browsers
    display: -webkit-box;
    font-size: $font-size;
    height: $font-size * $line-height * $lines-to-show * 1.05; // Fallback for non-webkit browsers
    line-height: $line-height;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines-to-show;
}

@mixin visually-hidden() {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
